 body {
    background-color: #A5D7E8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #3C486B;
    text-align: left;
    padding-left: 20px;
 }

 p {
   margin: 5px;
 }
 
 hr {
    border-color: #FFF4E0;
    background-color: #A5D7E8;
    border-style: dotted none none;
    border-width: 5px;
    height: 0px;
    width: 4%;
 }
 h3 {
    text-align: center;
    color: #B2A4FF;
 }
 h1 {
    text-align: center;
    color: #FDF7C3;
 }
 h4 {
   margin-left: 10px;
   color: white;
 }
 a:link {
    color: #4E6E81;
    text-decoration-color: #002B5B;
 }

 a:hover {
   color: whitesmoke;
 }
 .contact {
    text-align: left;
 }

 .contact-link::before {
   content: "Socials";
 }
 ul {

    list-style: square;
    list-style-position: inside;
 }
 .work_exp, .work {
    padding-left: 20px;
 }